 @font-face {
   font-family: 'Red Hat Text';
   src: url("assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
   font-style: normal;
 }

 @font-face {
   font-family: 'Red Hat Text';
   src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium.ttf");
   font-style: 500;
 }

 @font-face {
   font-family: 'Red Hat Text';
   src: url("assets/fonts/Red_Hat_Text/RedHatText-Italic-VariableFont_wght.ttf");
   font-style: italic;
 }

 @font-face {
   font-family: 'Magra';
   src: url("assets/fonts/Magra/Magra-Regular.ttf");
   font-weight: 300;
 }

 @font-face {
   font-family: 'Magra';
   src: url("assets/fonts/Magra/Magra-Bold.ttf");
   font-weight: bold;
 }

 @font-face {
   font-family: 'Aleo';
   src: url("assets/fonts/Aleo/Aleo-Bold.ttf");
   font-weight: bold;
 }

 @font-face {
   font-family: 'Aleo';
   src: url("assets/fonts/Aleo/Aleo-BoldItalic.ttf");
   font-style: italic;
   font-weight: bold;
 }

 * {
   box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth;
 }

 .main-body {
  min-height: 100vh;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .main-header {
   position:relative;
   width: 1440px;
   height: 765px;
   left: 0px;
   top: 0px;
   background: url('./assets/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png');
 }

 .header-container {
   /* max-width: 1440px;
   margin: 0 auto; */
   height: 90px;
   left: 0px;
   top: 0px;
   background: rgba(242, 120, 92, 0.7);
   box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
   ;
 }

 .logo-container {
   position: relative;
   width: 216px;
  height: 31px;
  left: 120px;
  top: 25px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   margin:0px;
 }

 /* .logo-img {
   position: relative;
   left: 0px;
   right: 89.58%;
   bottom: 0px;
 } */

 .logo-text {
   position: relative;
   width: 190px;
   height: 31px;
   left: 6px;
   font-family: 'Magra';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 39px;
   color: #FFFFFF;
 }

 .nav-list {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 42px;
   position: absolute;
   width: 527px;
   height: 21px;
   left: 494px;
   top: 35px;
   list-style: none;
   margin: 0;
 }

 .nav-link {
   width: 98px;
   height: 21px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   text-decoration: none;
 }

 /* .form-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 229px;
   gap: 10px;
 } */

 .button-container {
   position: relative;
   width: 103px;
   height: 41px;
   left: 1217px;
   top: 0px;
   background: #0D606F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border: none;
 }

 .button-text {
   width: 43px;
   height: 21px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   text-decoration: none;
 }


 .section-explore {
  position: relative;
width: 892px;
height: 422px;
left: 122px;
top: 32px;
 }


 .explore-text {
   position: relative;
   left: 0px;
   top: 0px;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;
   color: #FFFFFF;
   margin: 0;
 }

 .text-receive {
   position: relative;
   width: 723px;
   height: 24px;
   left: 0px;
   bottom: 0px;
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
margin-bottom: 0px;
 }

 .main-container {
   max-width: 1440px;
   margin: 0 auto;
 }

 .input-container {
   position: relative;
   width: 892px;
   height: 95px;
   left: 0px;
   top: 46px;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 16px;
 }

 .input-form {
   position: relative;
   width: 560px;
   height: 22px;
   left: 41px;
   top: 32px;
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #F2785C;
   background-color: rgba(255, 255, 255, 0.7);
   border: none;
 }

 input [placeholder="What would you like to do?"] {
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #F2785C;
   background-color: rgba(255, 255, 255, 0.7);
 }

 input[type="search"]::-webkit-input-placeholder {
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #F2785C;
   background-color: none;

 }

 input[type="search"]::-moz-placeholder {
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #F2785C;
   background-color: inherit;
 }

 .explore-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 32px;
   gap: 10px;
   position: absolute;
   width: 228px;
   height: 59px;
   left: 646px;
   top: 18px;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border: #0D606F;
 }

 .button-exploreText {
   width: 163px;
   height: 32px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   color: #FFFFFF;
   text-decoration: none;
 }

 .section-trip {
   position: relative;
   width: 1177px;
   height: 247px;
   left: 131px;
   top: 80px;
 }

 .section-title {
   position: relative;
   width: 611px;
   height: 53px;
   left: 283px;
   top: 0;
   margin-top:0px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 53px;
   color: #F2785C;
   margin-bottom: 40px;
 }

 .badge-container {
   display: flex;
   justify-content: space-between;
   width: 1177px;
   height: 154px;
   /* left: 0px;
   top: 40px; */
 }

 .bycycle {
   display: flex;
   flex-direction: column;
   width: 247px;
   height: 154px;
   left: 0px;
   top: 0px;
 }

 .badge-bycycle {
   position: relative;
   width: 100px;
   height: 100px;
   left: 73px;
   top: 0px;
 }

 .text-trip-badge {
   position: relative;
   width: 247px;
   height: 24px;
   left: 0px;
   top: 30px;
   margin-block: 0px;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #0D606F;
   white-space: nowrap;
 }

 .calendar {
   /* position: relative; */
   display: flex;
   flex-direction: column;
   /* width: 222px;
  height: 154px;
  left: 478px;
  top: 0px; */
   /* left: 231px; */
 }

 .badge-calendar {
   position: relative;
   width: 100px;
   height: 100px;
   left: 61px;
   top: 0px;
 }

 .text-steps-calendar {
   position: relative;
   width: 222px;
   height: 24px;
   left: 0px;
   top: 30px;
   margin: 0px;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #0D606F;
   white-space: nowrap;
 }

 .plane {
   display: flex;
   flex-direction: column;
   width: 317px;
   height: 154px;
   left: 860px;
   top: 0px;
   /* margin-left: 2px; */
 }

 .badge-plane {
   width: 100px;
   height: 100px;
   left: 109px;
   top: 0px;
   margin-left: 109px;
 }

 .text-steps-plane {
   position: relative;
   width: 317px;
   height: 24px;
   left: 0px;
   top: 30px;
   margin: 0px;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #0D606F;
   white-space: nowrap;
 }

 .destionations-container {
   position: relative;
   width: 2520px;
   height: 1042px;
   left: -540px;
   top: 97px;
 }

 .destionations-title {
   position: relative;
   width: 501px;
   height: 53px;
   left: 1010px;
   top: 0px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 53px;
   color: #F2785C;
   margin-bottom: 46px;
   margin-top: 97px;
 }

 .destinations-photo {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 60px;
   position: relative;
width: 2520px;
height: 800px;
/* right: -540px; */
/* top: 99px; */
 }

 .destination1 {
   position: relative;
   width: 800px;
   height: 800px;
   /* right: 1540;
top: 0px;
background: url(.jpg), #FFFFFF; */
   border-radius: 16px;
   flex: none;
   order: 0;
   flex-grow: 0;
 }

 .destination2 {
   position: relative;
   width: 800px;
   height: 800px;
   right: 1540;
  top: 0px;
  background: url(.jpg), #FFFFFF;
   border-radius: 16px;
   flex: none;
   /* order: 1; */
   flex-grow: 0;
 }

 .destination3 {
   position: relative;
   width: 800px;
   height: 800px;
   /* right: 1540;
    top: 0px;
    background: url(.jpg), #FFFFFF; */
   border-radius: 16px;
   flex: none;
   /* order: 2; */
   flex-grow: 0;
 }

 .circle-destination {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
position: relative;
width: 80px;
height: 20px;
left: 1221px;
top: 0px;
margin-top: 24px;
}

.circle-v1 {
width: 20px;
height: 20px;
background: rgba(242, 120, 92, 0.5);
/* flex: none;
order: 0; */
flex-grow: 0;
border-radius: 50%;
}

.circle-v2 {
  width: 20px;
height: 20px;
background: #F2785C;
/* flex: none;
order: 1; */
flex-grow: 0;
border-radius: 50%;
}

.button-destination {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 32px;
gap: 10px;
position: relative;
width: 228px;
height: 59px;
left: 1147px;
top: 40px;
background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
border: none;
}


.text-buttonDestination {
  width: 116px;
height: 32px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.background2 {
  position: relative;
width: 1442px;
height: 1331px;
left: 0px;
top: 272px;

}


 /* .main-footer {
   border: 1px solid pink;
   background-color: purple;
 } */

 .footer-container {
   max-width: 1440px;
   margin: 0 auto;
 }
