 * {
  box-sizing: border-box;
 }

 .main-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .main-header {
  border: 1px solid red;
  background-color: brown;
 }

 .main-main {
  border: 1px solid cornflowerblue;
  background-color: blue;
 }

 .main-footer {
  border: 1px solid pink;
  background-color: purple;
 }
