 @font-face {
   font-family: 'Red Hat Text';
   src: url("assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
   font-style: normal;
 }

 @font-face {
   font-family: 'Red Hat Text';
   src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium.ttf");
   font-style: normal;
   font-weight: 500;
 }

 @font-face {
   font-family: 'Red Hat Text';
   src: url("assets/fonts/Red_Hat_Text/RedHatText-Italic-VariableFont_wght.ttf");
   font-style: italic;
 }

 @font-face {
   font-family: 'Magra';
   src: url("assets/fonts/Magra/Magra-Regular.ttf");
   font-weight: 300;
 }

 @font-face {
   font-family: 'Magra';
   src: url("assets/fonts/Magra/Magra-Bold.ttf");
   font-weight: bold;
 }

 @font-face {
   font-family: 'Aleo';
   src: url("assets/fonts/Aleo/Aleo-Bold.ttf");
   font-weight: bold;
 }


 @font-face {
   font-family: 'Aleo';
   src: url("assets/fonts/Aleo/Aleo-Regular.ttf");
   font-weight: 400;
 }

 @font-face {
   font-family: 'Aleo';
   src: url("assets/fonts/Aleo/Aleo-BoldItalic.ttf");
   font-style: italic;
   font-weight: 700;
 }

 @font-face {
   font-family: 'Aleo';
   src: url("assets/fonts/Aleo/Aleo-Italic.ttf");
   font-style: italic;
 }


 * {
   box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth;
 }

 .main-body {
   width: 100%;
   margin: 0 auto;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #FFFFFF;

 }

 /* START HEADAR */
 .main-header {
   display: flex;
   flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
   background: url('./assets/background1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   padding-bottom: 221px;
 }

 .header-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   padding: 23px 137px 24px 8.3%;
   box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
   background: rgba(242, 120, 92, 0.7);
   margin-bottom: 2%;
 }

 .logo-container {
   display: flex;
   align-items: flex-start;
   width: 216px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   white-space: nowrap;
   margin-right: 5px;
 }

 .logo-img {
   margin-right: 6px;
   min-width: 30px;
   min-height: 30%;
 }

 .logo-text {
   display: flex;
   font-family: 'Magra';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 39px;
   color: #FFFFFF;
 }

 .nav-container {
   display: flex;
   width: 44%;
   padding: 9px 0;
   margin-right: 10px;
 }

 .nav-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   list-style: none;
   padding: 0px;
   margin: 0px;
 }

 .nav-link {
   display: flex;
   margin-right: 5px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   text-decoration: none;
   transition: transform.2s;
   white-space: nowrap;
 }

 .form-container {
   display: flex;
   width: 103px;
   height: 44px;
 }

 .button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background: #0D606F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border: none;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   text-decoration: none;
   transition: transform .2s;
 }

 /* The END HEADAR */

 /* START SECTION 1 */
 .section-explore {
   display: flex;
   flex-direction: column;
   width: 70.3%;
   /* height: 65%; */
   /* padding: 32px 0 33px 120px; */
   padding: 0 0 0 8.3%;
   margin-bottom: 33px;
 }

 .explore-text {
   display: flex;
   text-align: justify;
   width: 90%;
   margin: 0 0 4.5%;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 700;
   font-size: 5.5vw;
   line-height: 6.5vw;
   color: #FFFFFF;
 }

 .text-receive {
   display: flex;
   width: 81%;
   /* height: 5.7%; */
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 700;
   font-size: 1.2vw;
   /* line-height: 24px; */
   color: #FFFFFF;
   margin-bottom: 5%;
 }

 .input-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;
   width: 100%;
   height: 6.5vw;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 16px;
   padding: 1.5% 1.5% 1.5% 4.6%;
 }


 .input-form {
   display: flex;
   flex-wrap: wrap;
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 3vw;
   line-height: 3vw;
   color: #F2785C;
   background-color: initial;
   border: none;
   outline: none;
 }

 input [placeholder="What would you like to do?"] {
   white-space: wrap;
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 1.6vw;
   line-height: 3vw;
   color: #F2785C;
   background-color: rgba(255, 255, 255, 0.7);
 }


 input[type="search"]::-webkit-input-placeholder {
   /* white-space: wrap; */
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 1.6vw;
   line-height: 3vw;
   color: #F2785C;
 }

 input[type="search"]::-moz-placeholder {
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 1.6vw;
   line-height: 3vw;
   color: #F2785C;
   background-color: inherit;
 }

 .explore-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 32px;
   /* gap: 10px; */
   width: 27%;
   height: 80%;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border: #0D606F;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 1.6vw;
   line-height: 1.6vw;
   color: #FFFFFF;
   text-decoration: none;
   transition: transform .2s;
 }

 /* THE END SECTION 1 */

 /* THE START SECTION 2 */
 .section-trip {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 6% 8% 8% 8.3%;
   /* margin: 0 0 40%; */
 }

 .section-title {
   display: flex;
   width: 100%;
   justify-content: center;
   margin-top: 0px;
   padding-right: 25px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 2.6vw;
   line-height: 53px;
   color: #F2785C;
   margin-bottom: 3.4%;
 }

 .badge-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
 }

 .badge--container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   width: 21%;
   height: 100%;
 }

 .badge-size {
   display: flex;
   width: 40%;
   height: 65%;
   margin-bottom: 12%;
 }

 .text-trip-badge {
   display: flex;
  justify-content: center;
   white-space: nowrap;
   width: 100%;
   margin-block: 0px;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4vw;
   line-height: 1vw;
   color: #0D606F;
   transition: transform.2s;
 }

 .text-trip-badge:hover {
   text-decoration: underline;
   text-decoration-color: #0D606F;
 }

 /* THE END SECTION 3 */

 .destionations-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* min-width: 30%; */
   /* height: 30.54%; */
   overflow: hidden;
   margin-bottom: 5.6%;
 }
 .destionations-title {
   display: flex;
   justify-content: center;
   /* width: 100%; */
   /* height: 5.1%; */
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 5vh;
   line-height: 53px;
   color: #F2785C;
   margin: 0 0 46px;
 }
 .destinations-photo {
   display: flex;
   justify-content: flex-start;
   /* align-items: center; */
   width: 175%;
   min-width: 70px;
   /* background-size:auto; */
   /* height: 76.8%; */
   margin: 0 -30% 24px -35%;
 }
 .destination1 {
  display: flex;
  /* width: 100%; */
  min-width: 150px;
  min-height: 100px;
  border-radius: 16px;
  transition: transform .2s;
  margin-right: 2.4%;
 }

 .destination1:last-child {
  margin-right: 0;
 }

/* .text-USA {
  display: flex;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 42px;
  color: #FFFFFF;
  margin-right: -20%;
  z-index: 5; */
  /* margin: 39% 0 0 -45% ;
}*/


.circle-destination {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 1%;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

.circle-v1 {
  width: 2vw;
  height: 2vw;
  background: rgba(242, 120, 92, 0.5);
  flex-grow: 0;
  border-radius: 50%;
}

.circle-v2 {
  width: 2vw;
  height: 2vw;
  background: #F2785C;
  flex-grow: 0;
  border-radius: 50%;
}
.img-button {
  width: 3vw;
  height: 3vw;
  margin-right: 5px;
}

.button-destination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7% 10%;
  gap: 1%;
  width:150%;
  height: 150%;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  color: #FFFFFF;
  white-space: nowrap;
}

 /* THE START SECTION 4 */

 .travelStories-container {
display: flex;
   width: 100%;
 }
 .background2 {
  display: flex;
  background: url(./assets/background2.jpg);
  /* box-shadow: inset 0 175vh 0 0px rgba(255, 255, 255, 0.7); */
  background-size: cover;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* margin-bottom: 3%; */
}
 .travelStories-title {
   display: flex;
   white-space: nowrap;
   justify-content: center;
   width: 100%;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 3vw;
   line-height: 5%;
   color: #F2785C;
   margin: 0 0 5%;
 }

 .containers-stories {
  background: rgba(255, 255, 255, 0.7);
 }

 .container-stories {
   display: flex;
   width: 100%;
   padding: 3.1% 8.3% 0 8.3%;
 }


 .img-stories {
   flex-direction: row;
   width: 50%;
   height: 50%;
   filter: drop-shadow(0px 4px 4px #0D606F);
   border-radius: 16px;
   margin: 0 3.1% 0 0;
 }

 .title-stories {
   display: flex;
   width: 100%;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-size: 2.5vw;
   line-height: 5vh;
   color: #0D606F;
  margin:0 0 3.6%;
 }

 .text-stories {
   display: flex;
   flex-direction: column;
   width: 100%;
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-size: 2.7vh;
   line-height: 3.3vh;
   color: #0D606F;
   margin:0;
 }

 .button__container-stories {
  display: flex;
  justify-content:space-around;
  width: 100%;
  padding: 3% 0 3%;
  background: rgba(255, 255, 255, 0.7);
 }

 .button-stories {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   padding: 1% 3% 1% 3%;
   /* gap: 1%; */
   width: 15vw;
   height: 4vw;
   background: #0D606F;
   box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
   border-radius: 10px;
   border: none;
   margin-bottom: 5px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 1.6vw;
   line-height: 3vw;
   color: #FFFFFF;
   flex: none;
   order: 1;
   flex-grow: 0;
   text-decoration: none;
 }

 /* THE END SECTION 4 */

 /* THE START FOOTER */
 .main-footer {
   display: flex;
   justify-content: space-between;
   width: 100%;
  align-items: center;
  padding: 0.92% 0 0.92% 40%;
  /* height: 30%; */
 }

 .text-footer {
   margin-bottom: 15px;
   font-family: 'Red Hat Text';
   font-style: normal;
   font-weight: 500;
   font-size: 1vw;
   line-height: 1vw;
   color: #FFFFFF;
   white-space: nowrap;
   margin: 0;
 }

 .footer-list {
   display: flex;
   justify-content: space-around;
   width: 62.5%;
   list-style: none;
   align-items: center;
   margin: 0;
   padding:0;
 }

 .footer-link {
   display: flex;
   width: 20%;
   /* height: 50%; */
   text-decoration: none;
   margin:0;
 }

 button:hover {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   cursor: pointer;
 }

 li,
 img {
   transition: transform .2s;
 }

 li:hover,
 .img-stories:hover,
 .badge-bycycle:hover,
 .badge-calendar:hover,
 .badge-plane:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   z-index: 2;
 }
